.rating-container {
  display: flex;
  justify-content: center;
}

.rate-icon {
  margin-right: 2px;
}

.small {
  font-size: 0.8rem;
}

.big {
  font-size: 1rem;
}

.gold-icon {
  color: #fcc203;
}

.gray-icon {
  color: #c4c4c2;
}

@media screen and (max-width: 700px) {
  .rate-icon {
    margin-right: 1px;
  }

  .small {
    font-size: 0.5rem;
  }
}

@media screen and (max-width: 400px) {
  .rate-icon {
    margin-right: 1px;
  }

  .small {
    font-size: 0.4rem;
  }
}

@media screen and (max-height: 800px) {
  .rate-icon {
    margin-right: 1px;
  }

  .big {
    font-size: 0.8rem;
  }
}
